
.mailing {
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  min-height: 80vh;
}

.mailing-list-title {
  margin-bottom: 0px;
}

.mailing-list-description {
  margin: 0px;
  margin-top: 12px;
  margin-bottom: 18px;
}