@import "../../variables";

.posts {
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  min-height: 80vh;
}

.posts-title {
  margin: 0;
  text-decoration: underline;
  position: relative;
}

.posts-description {
  text-decoration: none;
  font-weight: 300;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 6px;
  font-size: 14px;
}

.posts-desc-date {
  color: #999;
}