@import "../../variables";

.home-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.4em;
  margin-top: 30vh;
  text-align: center;
}

.home-rotate {
  margin-left: -0.4em;
  margin-right: 0.4em;

  top: 0.1em;

  position: relative;
  display: inline-block;

  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.home-under-title {
  font-weight: 200;
  font-size: 1em;
  letter-spacing: 0.2em;
  text-align: center;
}

.home-line {
  background: linear-gradient(to bottom, $nice-white, $white) no-repeat 0 0;

  -webkit-animation: bikesouth 60s ease-out;
  -moz-animation: bikesouth 60s ease-out;
  -o-animation: bikesouth 60s ease-out;
  -ms-animation: bikesouth 60s ease-out;
  animation: bikesouth 60s ease-out;

  position: fixed;
  top: 0;
  left: 20%;
  bottom: 0;

  width: 2px;
}

@-webkit-keyframes bikesouth {
  0% { background-size: 4px 0%; }
  100% { background-size: 100vh 100%; }
}
@-moz-keyframes bikesouth {
  0% { background-size: 4px 0%; }
  100% { background-size: 100vh 100%; }
}
@-o-keyframes bikesouth {
  0% { background-size: 4px 0%; }
  100% { background-size: 100vh 100%; }
}
@-ms-keyframes bikesouth {
  0% { background-size: 4px 0%; }
  100% { background-size: 100vh 100%; }
}
@keyframes bikesouth {
  0% { background-size: 4px 0%; }
  100% { background-size: 100vh 100%; }
}
