@import "../../variables";

.post-link {
  display: inline-block;
  overflow-wrap: break-word;
}

.post-text {
  line-height: 1.4em;
  margin: 4px 0px;
}

.post-image-container {
  width: 100%;
  text-align: center;

  padding: 6px;
  margin: 6px 0px;
}

.post-image {
  max-width: 100%;
  border: 1px solid $textColor;
}

.post-list {
  margin: 0;
}

.post-heading {
  margin-top: 16px;
}

.post-html-container {
  overflow-wrap: break-word;
}
