@import "../../variables";

.map {
  background-color: $black; // TODO: Remove
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
  text-align: center;
}

.map-border {
  stroke-width: 0.5px;
  stroke: $nice-white;
  fill: none;
}

.map-border path {
  // stroke-dasharray: 5000;
  // stroke-dashoffset: 5000;
  // animation: draw-overtime 5s linear forwards;
  animation: draw-overtime 3s ease-out forwards;
}

@keyframes draw-overtime {
  to {
    stroke-dashoffset: 0;
  }
}